{# templates/frontoffice/about.html.twig #}
{% extends 'watch.html.twig' %}


{% block title %}À propos{% endblock %}

{% block body %}
    <h2>À propos du projet</h2>
    <p>
        Ce projet est une application de gestion des catégories de danse, des écoles de danse, des cours et des utilisateurs. 
        Il permet aux utilisateurs de naviguer à travers différentes catégories de danse, de découvrir des écoles de danse et de suivre des cours proposés. 
        L'application est développée avec Symfony pour le backend et Angular pour le frontend, avec une base de données MySQL.
    </p>
{% endblock %}
