{% extends 'base.html.twig' %}

{% block title %}New DanceSchool{% endblock %}

{% block body %}
    <h1>Create new DanceSchool</h1>

    {{ include('dance_school/_form.html.twig') }}

    <a href="{{ path('app_dance_school_index') }}">back to list</a>
{% endblock %}
