{% extends 'base.html.twig' %}

{% block title %}New DanceCategory{% endblock %}

{% block body %}
    <h1>Create New DanceCategory</h1>

    {{ include('dance_category/_form.html.twig') }}

    <a href="{{ path('app_dance_category_index') }}" class="btn btn-secondary">Back to List</a>
{% endblock %}
