{# templates/back_template/categories.html.twig #}
{% extends 'back_template/backtemplate.html.twig' %}

{% block content %}
    <h2>Gestion des Catégories</h2>
    <p>Liste des catégories ici...</p>
{% endblock %}