{# templates/back_template/courses.html.twig #}
{% extends 'back_template/backtemplate.html.twig' %}

{% block content %}
    <h2>Gestion des Cours</h2>
    <p>Liste des cours ici...</p>
{% endblock %}