{# templates/back_template/schools.html.twig #}
{% extends 'back_template/backtemplate.html.twig' %}

{% block content %}
    <h2>Gestion des Écoles de Danse</h2>
    <p>Liste des écoles ici...</p>
{% endblock %}